@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CoffeeShopApp.Models.CoffeeShopApp.AddUsersInfoViewModel

<form asp-controller="CoffeeShopApp" asp-action="InfoFormResults" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName">User First Name:</label>
        <input class="form-control" asp-for="FirstName" placeholder="First Name">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">User Last Name:</label>
        <input class="form-control" asp-for="LastName" placeholder="Last Name">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">User Date Of Birth:</label>
        <input class="form-control" asp-for="DateOfBirth" placeholder="Date of Birth">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">User Phone Number:</label>
        <input class="form-control" asp-for="PhoneNumber" placeholder="Phone Number">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    </div>
    <div class="form-group">
        <input type="submit" value="Create an Account" class="btn btn-info" />
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

