@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoffeeShopApp.Models.CoffeeShopApp.RegistrationResultsViewModel
<ul class="list-group">
    @foreach (var user in Model.Users)
     {
    <li class="list-group-item">
        <p>Welcome: @user.FirstName @user.LastName</p>
    </li>
     }
</ul>
